  .logo{
      width: 60%;

  }
 .perfil{
     
     display:flex;
     flex-direction: column;
     padding-left: 150px;

    
 }

  .perfilimg{
    width: 10%;
    position: absolute;
  
   padding-left: 63%;
  top: 80px;
   position: absolute;

}

.qse{
    position: absolute;
    padding-left: 65%;
    top: 30px;
}
.txtperfil{
    position: absolute;
    padding-left: 74%;
    top: 100px;
    font-size: 20px;
    text-align: start;
   
  
}
body{
    background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255);
}
.titulotextos{
font-size: 50px;
 color: rgb(0, 0, 0);
text-align: center;
font-family: 'Niconne';
margin-bottom: 10px;
width: 100%;
border-radius: 30px;
padding: 1px;
border-style: hidden;




}
.imgtxt{
    width: 400px;
    float: left;
    margin-bottom: 10px;
    margin-right: 15px;
}
.textos{
 
    font-size: 20px;
    font-family: 'Josefin Sans';
    text-indent: 150x;
    text-align: left;
    float: left;
    padding-right:500px;
    text-indent: 1em;
    
   

   
   

    
   

}
.rodape{
    border: 1px solid grey;
    margin-top: 50px;
    background-color: WhiteSmoke		;
    margin-top: 140px;
    display: flex;
    flex-direction: column;


  
   
}
footer{
    font-size: 27px;
    text-align: center;
   
   
}
.contatos{
    margin-top: 0px;
    margin: 0pt;
}
.fim{
    font-size: 17px;
    font-style: oblique;
    margin: 0pt;
}
hr{
   
    
}
.container{

display: flex;
flex-direction: column;