   .site{
    font-size: 60px;
    border-radius: 100px;
    font-style:unset;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 1px;
margin-left: 80px;
margin-right:0px ;
margin-bottom: 70px;
color: tomato;
background-color: rgb(183, 223, 204);
text-align-last: center;
margin-right: 100px;
}  

body{
    background-color: rgb(240, 241, 223);
    border: navajowhite;
}
.textos{
    font-size: 35px;
    background-color: tomato;
    color: rgb(0, 0, 0);
    font-style: unset;
   border-radius: 100px;
   border-color: tomato;
    width: 510px;
    height: 45px;
text-align: center;
font-family: 'Courier New', Courier, monospace
}

.img1{
    
    height: 280px;
    
}
.img2{
    height: 220px;

  


}
.vc{
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    position: absolute;
   padding-right: 100px;
   font-family: garamond;
  text-indent: 50px;
  margin-left: 15px;

}
.vc2{
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    position: sticky;
   padding-right: 100px;
   font-family: garamond;
  text-indent: 50px;
margin-top: -200px;
margin-left: 415px;
}