body{
  margin:10px;
  background-color: Cornsilk;
  

}





header{
    display: flex;
    flex-direction: column;


}
.homebarra{
    width: 100%;
    height: 45px;
    background-color: rgb(221, 187, 153);
    box-shadow: 0px 0px 10px #6a4f3c;
    
}

.social{
    font-family: "Overlock";
    margin-top: 5px;

}
.SOCIALBOTTOM{
    float: right;
    margin-right: 55px;
}

.logo{
    color: rgb(56, 15, 15);
    font-family: "Fredericka the Great";
    font-size:90px;
    width: 70%;
    text-shadow: 15px 15px 20px #6a4f3c;
    margin-top: 15px;
  
   
}






aside{
    float: right;
    display: flex;
    flex-direction: column;
}
.box{
    width:250px;
    height:345px;
    background-color: rgb(221, 187, 153);
    box-shadow: 0px 0px 8px #6a4f3c;
    margin-top: -90px;
    margin-right: 5px;
    padding-left: -250px;
    margin-top: -210px;
    

  
}
.QSE{
    font-size: 23px;
    padding-left: 55px;
    font-family: 'Kurale';

}
.imgperfil{
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin-left: 60px;
    margin-top: 0px;
}
.txtperfil{
    font-size: 20px;
    text-align: justify;
 
    font-family: 'Kurale';

}
.boxtxtperfil{
    width: 200px;
    margin-left: 45px;
    border-radius: 10px;
}








section{
 
 display: flex;
 flex-direction: column;
 

}

.boxtxt2{
    margin-top: 200px;
    background-color: rgb(221, 187, 153)al;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #6a4f3c;
    margin-right: 20px;
    padding-right: 20px;
}
.boxtxt{
    margin-top: 40px;
    background-color: rgb(221, 187, 153)al;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #6a4f3c;
    margin-right: 20px;
    padding-right: 20px;
    



}
.titulotextos{
    font-size: 50px;
     color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Fredericka the Great";
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    padding: 1px;
    border-style: hidden;
    font-weight: normal;
    box-shadow: 5px 5px 20px #d1b685;
  


   
}

.imgtxt{
    width: 380px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 8px #6a4f3c;
    margin-top: -103px;

}
.textos{
 
    font-size: 20px;
    font-family: 'Josefin Sans';
    float: left;
    text-indent: 1em;
    text-align: justify;
}






.navbarra{
width: 100%;
height: 70px;
background-color: rgb(221, 187, 153);
box-shadow: 0px 0px 10px #6a4f3c;
margin-top: 100px;
}
.navtxt{
    font-size:20px;
    padding-left: 650px;
    
    
    
    


}
.navtxt2{
    font-size:17px;
    padding-left: 590px;
    
}
.navtxt3{
    font-size:15px;
    padding-left: 590px;
    
}





@media only screen and (max-device-width: 800px){

.homebarra{
           width: 680px;
           height: 50px;}

 .logo{
            
            font-size:40px;
            width: 50%;

          
           
        }
.box{
            width:235px;
            height:345px;
            margin-top: -90px;
            margin-right: -380px;
            display: none;
            
            
        
          
        }
 section{
 
            display: flex;
            flex-direction: column;
        
           
            
           
           }
           
 .boxtxt2{
               margin-top: 100px;
               margin-right: 20px;
               padding-right: 20px;
               width: 650px;
               padding-top: 40px;
           }
 .boxtxt{
               margin-top: 40px;
               margin-right: 20px;
               padding-right: 20px;
               width: 650px;
               padding-top: 40px;
               
           
           
           
           }
    

.imgtxt{
            width: 200px;
            height: 100px;
            margin-top: -103px;
        
        }
 .titulotextos{
            font-size: 30px;

            margin-bottom: 10px;
            width: 100%;
          
        
        
           
        }

.textos{
 
            font-size: 30px;
            font-family: 'Josefin Sans';
            float: left;
            text-indent: 1em;
            text-align: justify;}
        
























}











